.Header{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 0 5vw;
    height: 6rem;
    background:rgba(0,0,0,0.8);
    color: #fff;
    z-index: 100;
    transition: 1s ease;
}
.Logo{
    font-size: 2.2rem;
    font-weight: 500;
}
.Nav{
    display: flex;
    list-style-type: none;
}
.nav-links{
    margin-left:2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    transition: 1s ease;
}
.nav-links:hover{
    color:#EB6262;
}

.selected{
    color:#EB6262;   
}

.isUp{
    background:#EB6262;
}
.isUp .selected{
    color:#181818;
    transition: 1s ease;
}
.isUp .nav-links:hover{
    color:#181818;
}

.isUpHome{
    background:none;
}

@media(max-width:600px){
    .Logo{
        font-size: 1.5rem;
    }
    .Nav{
        position: absolute;
        right: 0;
        top:6rem;
        flex-direction: column;
        justify-content: space-around;
        height: 40vh;
        width: 6rem;
        align-items: center;
        background-color: #181818;
        transition: 1s ease;   
    }
    .nav-links{
        margin-left: 0;
    }
    .ShowMenu{
        right: 0;
    }
    .HideMenu{
        right: -8rem;
    }

    .Hamburger{
        position: absolute;
        right: 2rem;
        top: 2rem;
        width: 2rem;
    }
    .line{
        width: 100%;
        height: 3px;
        background-color: #fff;
        margin-top:0.5rem;
        opacity: 1;
        transition: 1s ease;
    }

}

.showX .line1{
    transform: rotate(-45deg)  translate(-8px,8px);
}

.showX .line2{
    opacity: 0;
}
.showX .line3{
    transform: rotate(45deg) translate(-8px,-8px);
}